.Courses-list {
    text-align: center;
}

.Courses-header {
    background-color: #222;
    height: 100px;
    padding: 20px;
    color: white;
}

.Courses-title {
    font-size: 3em;
}

.Courses-list {
    padding: 20px;
}