#lesson-stats {
    text-align: left;
    display:inline-block;
}

#lesson-accuracy {
    font-size: 2em;
    margin-left: 20px;
}
#lesson-accuracy-number {
    color: white;
    display: inline;
    border-radius: 10px;
    background: #222;
    padding: 7px 25px;
    margin-left: 15px;
}

#lesson-time {
    font-size: 2em;
}
#lesson-time-number {
    color: white;
    display: inline;
    border-radius: 10px;
    background: #222;
    padding: 7px 25px;
}

#back-to-lessonmap-button {
    display: inline-block;
    background-color: #f44336;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    margin-left: 100px;
    opacity: 0.9;
    transition-timing-function: ease-out;
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-delay: 0s;
}
#back-to-lessonmap-button:hover {
    background-color: #ff876c;
    cursor: pointer;
}
