.Lesson-map-header {
    background-color: #222;
    height: 100px;
    padding: 20px;
    color: white;
}

.Lesson-map-title {
    font-size: 2em;
}

.Lesson-list {
    text-align: center;
    padding: 20px;
}
