#question-title {
    font-size: 2em;
}

.question-result {
    width: 30px;
    height: 30px;
    padding: 0 10px;
}

#question {
    padding: 7px 5px;
}

.choice-unchecked {
    display: inline;
    padding: 5px 15px;
    font-size: 1.5em;
    width: 0.875em;
    height: 0.875em;
    margin: 0.25em 0.5em 0.25em 0.25em;
    border-radius: 0.25em;

    border: 0.0625em solid rgb(192, 192, 192);
    background: rgb(224, 224, 224);
    background-image: -moz-linear-gradient(rgb(240, 240, 240), rgb(224, 224, 224));
    background-image: -ms-linear-gradient(rgb(240, 240, 240), rgb(224, 224, 224));
    background-image: -o-linear-gradient(rgb(240, 240, 240), rgb(224, 224, 224));
    background-image: -webkit-linear-gradient(rgb(240, 240, 240), rgb(224, 224, 224));
    background-image: linear-gradient(rgb(240, 240, 240), rgb(224, 224, 224));
    vertical-align: bottom;
}
.choice-checked {
    display: inline;
    padding: 5px 15px;
    font-size: 1.5em;
    width: 0.875em;
    height: 0.875em;
    margin: 0.25em 0.5em 0.25em 0.25em;
    border-radius: 0.25em;

    border: 0.0625em solid rgb(115, 153, 77);
    background: rgb(153, 204, 102);
    background-image: -moz-linear-gradient(rgb(179, 217, 140), rgb(153, 204, 102));
    background-image: -ms-linear-gradient(rgb(179, 217, 140), rgb(153, 204, 102));
    background-image: -o-linear-gradient(rgb(179, 217, 140), rgb(153, 204, 102));
    background-image: -webkit-linear-gradient(rgb(179, 217, 140), rgb(153, 204, 102));
    background-image: linear-gradient(rgb(179, 217, 140), rgb(153, 204, 102));
}
.choice:hover {
    cursor: pointer;
}
.choice > input:hover {
    cursor: pointer;
}

#submit-for-marking-button {
    font-size: 24px;
    color: black;
    background-color: #4ecf43;
    opacity: 0.9;
    padding: 14px 25px;
    border-radius: 10px;
    transition-timing-function: ease-out;
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-delay: 0s;
}
#submit-for-marking-button:hover {
    background-color: #52fb26;
    cursor: pointer;
}