#read-the-extract-prompt {
    font-size: 1.5em;
    margin: auto;
    max-width: 650px;
    border-radius: 10px;
    border-style: none;
}
#question-extract {
    font-size: 1.5em;
    border-radius: 10px;
    border-style: groove;
    margin: auto;
    max-width: 650px;
}

.question-header {
    font-size: 2em;
}

.question-given {
    display: inline;
    border-radius: 10px;
    background: #abad5f;
    padding: 7px 25px;
}

.question-result-img {
    width: 30px;
    height: 30px;
    padding: 0 10px;
}

.answer-input-textbox {
    resize: none;
    font-size: 20px;
    padding: 10px 10px;
    border-radius: 10px;
    border-style: groove;
    background-color: aliceblue;
}

.question-correction {
    display: inline;
    border-radius: 10px;
    background: #313dad;
    padding: 7px 25px;
}

#unanswered-questions-warning {
    color: red;
    font-size: 1.1em;
    font-weight: bold;
}

#you-have-unanswered-questions {
    border-bottom: 3px solid red;
}
