#question-title {
    font-size: 2em;
}

#question-title-instruction {
    display: inline;
    padding: 7px 25px;
}

#question-title-given {
    display: inline;
    border-radius: 10px;
    background: #abad5f;
    padding: 7px 25px;
}

.question-result {
    width: 30px;
    height: 30px;
    padding: 0 10px;
}

#answer-input-textbox {
    resize: none;
    font-size: 20px;
    padding: 10px 10px;
    border-radius: 10px;
    border-style: groove;
    background-color: aliceblue;
}

.tq-button {
    font-size: 24px;
    color: black;
    background-color: #4ecf43;
    opacity: 0.9;
    padding: 14px 25px;
    border-radius: 10px;
    transition-timing-function: ease-out;
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-delay: 0s;
}
.tq-button:hover {
    background-color: #52fb26;
    cursor: pointer;
}