#question-header {
    font-size: 2em;
}

#question-instruction {
    display: inline;
    padding: 7px 25px;
}

#question-given {
    display: inline;
    border-radius: 10px;
    background: #abad5f;
    padding: 7px 25px;
}

.question-result {
    width: 30px;
    height: 30px;
    padding: 0 10px;
}

#answer-input-textbox {
    resize: none;
    font-size: 20px;
    padding: 10px 10px;
    border-radius: 10px;
    border-style: groove;
    background-color: aliceblue;
}

#answer-input-textbox:read-only {
    background-color: #a2ffa5;
}

#correction-prompt {
    display: inline;
    padding: 7px 25px;
}

#correction-answer {
    display: inline;
    border-radius: 10px;
    background: #313dad;
    padding: 7px 25px;
}