/* Courses */
.Courses-list {
    text-align: center;
}

.Courses-header {
    background-color: #222;
    height: 100px;
    padding: 20px;
    color: white;
}

.Courses-title {
    font-size: 3em;
}

.Courses-list {
    padding: 20px;
}

/*Course Button*/
.Course-title {
    white-space: nowrap;
}

.Course-icon {
    height: 100px;
    opacity: 0.75;
    padding: 5px;
    background-color: #222222;
}
.Course-icon:hover {
    opacity: 1;
    cursor: pointer;
}