server_port=8000
frontend_port=3000
neo4j_port=7687
neo4j_user=neo4j
neo4j_pw=my_neo4j_password
images_path=/path/to/language-learning/database/images
extracts_path=/path/to/language-learning/database/extracts
app_name=language_learning
